/* General page layout */
body {
    font-family: Arial, sans-serif;
    background-color: #d0e7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  


  
  .profile-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    width: 750px;
    height: 480px;
    
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-top: -10px; 
    margin-bottom: 20px;
  }
  
  .profile-photo {
    display: block;
    margin: 0 auto 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px;
  }
  
  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .details div {
    width: 48%;
    margin-bottom: 5px;
  }
  
  .details div input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }

  .info{
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  #editProfileBtn {
    background-color: #2196F3;
    color: white;
    position: absolute;
    bottom: 90px;
    left: 100px;
    margin-left: 290px;
  }
  
  #editProfileBtn:hover {
    background-color: #0b7dda;
  }
  
  #saveProfileBtn {
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 90px;
    margin-right: 450px;
  }
  
  #saveProfileBtn:hover {
    background-color: #45a049;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .details div {
      width: 100%;
    }
  
    .profile-container {
      width: 90%;
    }
  
    #editProfileBtn, #saveProfileBtn {
      position: static;
      margin-top: 40px;
      display: block;
      width: 100%;
    }
  }
  